# Проигнорировать каталоги target/ в каждом Maven-модуле
target/

# Игнорировать сгенерированные файлы Maven Wrapper, кроме самого jar-файла, если вы его коммитите
.mvn/wrapper/MavenWrapper.properties
!.mvn/wrapper/maven-wrapper.jar

# Проигнорировать кэши и настройки IDE
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

# Проигнорировать временные файлы Spring Boot плагина при сборке
*.jar.original

# Временные файлы ОС
.DS_Store
Thumbs.db

secrets/